{% extends 'base.html.twig' %}
{% block title %}Mon compte - MoroccanExpress{% endblock %} 
{% block content %}

<h1 class="text-center">Mon compte</h1>
<hr/> 
Bienvenue {{ app.user.firstname }} dans votre compte. <br> C'est dans cet espace ou vous pourrez gere votre compte personnel
<hr> {% if is_granted('ROLE_ADMIN') %} - <a href="/admin">Administration</a><br> {% endif %} - <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br> - <a href="{{ path('account_address') }}">Ajouter mes addresses</a><br> - <a href="{{path('account_order')}} ">Mes commandes</a><br>
<hr>

<!-- ========================= SECTION CONTENT ========================= -->


{% endblock %}  