{% extends 'base.html.twig' %}

 {% block title %}Acceuil - MoroccanExpress{% endblock title %} {% block panier %} {% include "z-helpers/panier.html.twig" %} {% endblock panier %} {% block carousel %} {% endblock carousel %} {% block content %}
<!-- Three columns of text below the carousel -->
<h2>Nos meilleurs ventes</h2>
<p>Decouvrez nos articles les plus vendus ce mois</p>
<div class="row d-flex justify-content-center">
    {% for product in products %}
    <div class="col-md-3">
        {% include "products/single_product.html.twig" %}
    </div>
    {% endfor %}
</div>

<!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Une equipe de professionnels<span class="text-muted"> au grand savoir-faire</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img src="{{asset('assets/img/first.jpg')}} " class=" img-fluid" alt="Un savoir faire traditonnel marocain">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Venez nous recontrer dans nos<span class="text-muted"> boutiques au maroc</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{{asset('assets/img/second.jpg')}} " class=" img-fluid" alt="On est ouvert toute l'année">
    </div>
</div>

<hr class="featurette-divider">



<!-- /END THE FEATURETTES -->
{% endblock content %} {% block footer %} {% endblock footer %}
