{% extends 'base.html.twig' %} {% block title %}Recuperation du mot de passe - MoroccanExpress{% endblock %} {% block content %}




<div class="block-small-center">
    <h1 class="h3 mb-3 font-weight-normal">Récuperation du mot de passe</h1>
    {% for message in app.flashes('notice') %}
    <div class="alert alert-info">{{message}} </div>
    {% endfor %} {{form(form)}}
</div>




{% endblock %}