{% extends 'base.html.twig' %} {% block title %}Nos Produits - MoroccanExpress{% endblock %} {% block content %}
<style>
    .product-item {
        margin-top: 50px;
    }
    
    .product-subtitle {
        font-size: 13px;
    }
    
    .product-container {
        margin-bottom: 20px;
    }
</style>

<div class="row">
    <div class="col-md-3">
        <h3>Filtrer</h3>
        {{form(form)}}
    </div>

    <div class="col-md-9">
        <h3>Nos Produits</h3>
        <hr>

        <div class="row product-container">
            {% for product in products %}
            <div class="col-md-4">
                {% include "products/single_product.html.twig" %}
            </div>

            {% endfor %}

        </div>
    </div>


</div>

</div>
{% endblock content %}