{% extends "base.html.twig" %} {% block title %} Page Introuvable - MoroccanExpress {% endblock title %} {% block content %}
<div class="block-small">
    <h2>Page Introuvable</h2>
    <p>Désolé, cette page ne semble pas etre accessible pour le moment.</p>
    <a href="{{path('home')}}" class="btn btn-info mb-5">Revenir à l'acceuil</a>
</div>
{% endblock content %}